<!DOCTYPE html>
<html>
<head>
	<title>Registration Page</title>
	<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
	<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/public/css/styles.css">
	<center><h1>Registration Page</h1></center>
</head>
	<body>
	<center>
	<form class="form-horizontal">
		<fieldset>

		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="fname">First Name</label>  
		  <div class="col-md-4">
		  <input id="fname" name="fname" type="text" placeholder="firstname" class="form-control input-md" required="">
		    
		  </div>
		</div>

		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="lname">Last Name</label>  
		  <div class="col-md-4">
		  <input id="lname" name="lname" type="text" placeholder="lastname" class="form-control input-md" required="">
		    
		  </div>
		</div>

		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="uname">Username</label>  
		  <div class="col-md-4">
		  <input id="uname" name="uname" type="text" placeholder="username" class="form-control input-md" required="">
		    
		  </div>
		</div>

		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="age">Age</label>  
		  <div class="col-md-4">
		  <input id="age" name="age" type="text" placeholder="age" class="form-control input-md" required="">
		    
		  </div>
		</div>

		<!-- Multiple Radios -->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="sex">Gender</label>
		  <div class="col-md-4">
		  <div class="radio">
		    <label for="sex-0">
		      <input type="radio" name="sex" id="sex-0" checked="checked">
		      Male
		    </label>
			</div>
		  <div class="radio">
		    <label for="sex-1">
		      <input type="radio" name="sex" id="sex-1">
		      Female
		    </label>
			</div>
		  </div>
		</div>

		<!-- Password input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="pwd">Password</label>
		  <div class="col-md-4">
		    <input id="pwd" name="pwd" type="password" placeholder="password" class="form-control input-md" required="">
		    
		  </div>
		</div>

		<!-- Password input-->
		<div class="form-group">
		  <label class="col-md-4 control-label" for="cnfpwd">Confirm Password</label>
		  <div class="col-md-4">
		    <input id="cnfpwd" name="cnfpwd" type="password" placeholder="confirm password" class="form-control input-md" required="">
		    
		  </div>
		</div>

		<!-- Button (Double) -->
		<div class="form-group">
		  <!-- <label class="col-md-4 control-label" for="button1id"></label> -->
		  <div></div>
		  <div class="col-md-8">
		    <button id="submit" name="submit" class="btn btn-primary">Submit</button>
		    <button id="reset" name="reset" class="btn btn-info">Reset</button>
		  </div>
		</div>

	</fieldset>
	</form>

	</center>
</body>
</html>