doctype html
html(lang="en")
  head
    title= pageTitle
    style.
      .demo {
        padding-top: 10px;
        padding-left: 15px;
        }
        #demo{
          padding-top:20px;
          color:red;
        }
    
  body
    center
      div
      This is a demo page
      .demo
      input(name = 'something')
      div
      h1#demo This is demo